<figure style="text-align:center;">
   {% if include.url != "" %}
    <a href="{{ include.url }}">
   {% endif %}
   <img src="{{ include.file }}" style="max-width: {{ include.max-width }};"
      alt="{{ include.alt }}"/>
   {% if include.url != "" %}
   </a>
   {% endif %}
   <figcaption>{{ include.caption }}</figcaption>
</figure>
